@(user: LocalUser)

@main(user) {

<form method="POST" class="form-horizontal">
    <div class="form-group">
        <label for="mfa_email" class="col-sm-2 control-label">Acceptto's MFA Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="mfa_email" name="mfa_email" required>
            <p class="help-block">This is the email you used to signup in Acceptto's It's Me App. If you haven't reigster yet install the app and register.</p>
            <div class="row" style="margin-top: 20px; width: 40%;">
                <div class="col-md-6">
                    <div class="icon">
                        <a href="https://itunes.apple.com/us/app/acceptto/id893534370?mt=8">
                            <img alt="app-store" class="img-responsive app-icon" src="https://mfa.acceptto.com/assets/app-store-badge-244a34babf5fe328d3217bada7a7bc94.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon">
                        <a href="https://play.google.com/store/apps/details?id=com.acceptto.mfa">
                            <img alt="google-play" class="img-responsive app-icon" src="https://mfa.acceptto.com/assets/en-play-badge-3dcede5f1a4791ac41fc87dccda40fea.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Enable</button>
        </div>
    </div>
</form>

}